// Colours partial UPDATE THESE

// Text colours
$txt-primary: #FAF3E9;
// body font
$txt-secondary: #FAF3E9;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #000;
// form placeholder text
// Global colours
$accent-color: #DE6C7F;
// global accent colour
$accent-color-hover: #000;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #FAF3E9;
$h3-color: #FAF3E9;
$h5-color: #FAF3E9;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #000;
$footer-keyline-color: #4E566C;