// Layout variables partial

$section-padding: 20px 30px;

section.intro, section.features-extra, section.rsvp {
	background-color: #4F6757;
}
section.features, section.events, section.blog {
	background-color: #4F6757;
}